body, html { 
    margin: 0; 
    padding: 0; 
    height: 100%; 
    overflow: hidden; 
    font-family: Arial, sans-serif;
}

/* Barra de navegación superior */
.navbar {
    background-color: #07339F;
    overflow: visible; 
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 0 20px;
    height: 60px;
    position: relative;
}

.navbar a, .dropdown .dropbtn {
    font-size: 17px;
    color: white;
    padding: 20px 20px;
    text-decoration: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown .dropbtn {
    border: none;
    outline: none;
    background-color: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #0074d9;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #07339F;
    min-width: 160px;
    z-index: 1000;
}

.dropdown-content .dropdown-sub {
    padding: 0;
    margin: 0;
    background-color: #07339F;
    border-bottom: 3px solid #0074d9;
    position: relative;
}

.dropdown-content .dropdown-sub .dropbtn-sub {
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    text-align: left;
    border: none;
    background-color: inherit;
    display: block;
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
    outline: none;
}

.dropdown-content .dropdown-sub .dropbtn-sub:hover {
    background-color: #0074d9;
}

.dropdown-content-sub {
    display: none;
    position: absolute;
    left: 100%; 
    top: 0; 
    background-color: #07339F;
    min-width: 160px;
    z-index: 1001;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-bottom: 3px solid #0074d9;
}

.dropdown-content a:hover {
    background-color: #0074d9;
}

.dropdown:hover .dropdown-content,
.dropdown-content:hover {
    display: block;
}

.dropdown-sub:hover .dropdown-content-sub {
    display: block;
}

.menu-toggle {
    display: none;
    cursor: pointer;
    font-size: 30px;
    color: white;
    padding: 24px 32px;
}

.menu-content {
    display: flex;

}

/* Ajustes responsivos */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: center;
        height: 60px; 
        padding: 0px 20px;
        z-index: 10000;
    }

    .menu-toggle {
        display: block;
    }

    .menu-content {
        display: none;
        flex-direction: column; 
        position: absolute;
        text-align: center;
        top: 60px;
        width: 100%;
        background-color: #07339F; 
    }

    .menu-content.show {
        display: flex;
    }

    .dropdown-content {
        position: relative;
        text-align: center;
        width: 100%;
        background-color: #07339F;
        display: none;
    }

    .dropdown-content.show {
        display: block;
    }

    .navbar a:hover, .dropdown:hover .dropbtn {
        background-color: #0074d9;
    }

    .dropdown-content a {
        text-align: center;
        padding-left: 5px;
        color: white;
    }

    .dropdown-content a.selected {
        background-color: #0074d9;
        color: white;
    }

    .dropdown-content-sub {
        position: relative;
        left: 0;
    }
}


/* Other styles */
#container { 
    width: 100%; 
    height: 100%; 
}

.hand-cursor {
    cursor: pointer;
}

/* Botón home */
.button-container {
    position: absolute;
    top: 10px;
    left: 25px;
    z-index: 10000;
}

.image-button {
    display: inline-block;
    border: none;
    outline: none;
    text-decoration: none;
}

.image-button img {
    display: block;
    width: 35px; 
    height: auto;
    transition: transform 0.2s; 
}

.image-button img:hover {
    transform: scale(1.1); 
}

/* Menú hamburguesa */
.off-screen-menu {
    height: 54vh; 
    width: 100%;
    max-width: 95px;
    position: fixed;
    top: 0;
    right: -450px;
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: center;
    text-align: center;
    transition: .3s ease;
    z-index: 10000;
}

.off-screen-menu.active {
    right: 0;
}

.off-screen-menu ul {
    list-style-type: none;
    padding: 0;
}

.off-screen-menu ul li {
    margin: 20px 0;
}

.off-screen-menu ul li img {
    width: 40px; 
    height: auto;
    transition: transform 0.2s;
}

.off-screen-menu ul li img:hover {
    transform: scale(1.1); /* Escala al pasar el mouse */
}

nav {
    display: flex;
}

.ham-menu {
    position: fixed;
    top: 8px;
    right: 25px; 
    display: flex;
    flex-direction: column;
    width: 30px;
    height: 40px;
    cursor: pointer;
    z-index: 10001;
    transition: transform 0.2s; 
}

.ham-menu span {
    height: 5px;
    width: 90%;
    background-color: #ffffff;
    border-radius: 25px;
    position: absolute;
    left: 5%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
}

.ham-menu span:nth-child(1) {
    top: 25%;
}
.ham-menu span:nth-child(3) {
    top: 75%;
}
.ham-menu.active span {
    background-color: rgb(255, 255, 255);
}
.ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}
.ham-menu.active span:nth-child(2) {
    opacity: 0;
}
.ham-menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.ham-menu span:nth-child(2) {
    pointer-events: none; 
}

.ham-menu:hover {
    transform: scale(1.1); /* Escala al pasar el mouse */
}

/* Tarjetas */
.menu-icon {
    position: absolute;
    bottom: 35px;
    left: 50%;
    transform: translateX(-50%);
    display: grid;
    grid-template-columns: repeat(3, 10px);
    grid-gap: 5px;
    cursor: pointer;
    z-index: 1000;
    
}


.dot {
    width: 10px;
    height: 10px;
    background-color: #ffffff;
    border-radius: 80%;
    transition: transform 0.2s; 
}

.dot:hover {
    transform: scale(1.3); 
}

#cards-container {
    position: absolute;
    bottom: 80px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    z-index: 1000;
    transition: opacity 0.3s, visibility 0.3s;
}

.hidden {
    opacity: 0;
    visibility: hidden;
}

.card {
    position: relative;
    width: 100px;
    height: 70px;
    overflow: hidden;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    cursor: pointer;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px transparent;
}

.card:hover img {
    transform: scale(1.1);
}

.card::after {
    content: attr(data-name);
    position: absolute;
    bottom: 110%;
    left: 50%;
    transform: translateX(-50%);
    background-color: transparent;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    pointer-events: none;
    z-index: 10000;
}

.card:hover::after {
    opacity: 1;
}

#tooltip {
    position: absolute;
    background-color: transparent;
    color: white;
    padding: 5px;
    border-radius: 5px;
    display: none;
    pointer-events: none;
    z-index: 1000;
}

.pointer-cursor {
    cursor: pointer;
}

@media (max-width: 576px) {
    #cards-container {
        bottom: 80px; 
    }

    .card {
        width: 70px;
        height: 56px;
    }
}

#tooltip {
    position: absolute;
    background: transparent;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    pointer-events: none;
    display: none;
}


#weather-info {
    position: fixed;
    bottom: 18px;
    right: 15px;
   
    background-color: transparent;
    color: white;
    padding: 17px;
    border-radius: 5px;
    font-size: 20px;
}

#weather-data, #weather-description {
    margin: 0;
    padding: 0;
}

@media (max-width: 576px) {
    #weather-info {
        font-size: 16px;
        padding: 17px;
    }
}

/*texto de escenas**/

.scene-text {
    position: absolute;
    top: 70px;
    right: 10px;
    color: white;
    font-size: 18px;
    font-family: 'Arial', sans-serif;
    z-index: 0;
    /*background-color: rgba(0, 0, 0, 0.5);*/
    padding: 10px;
    border-radius: 5px;
    max-width: 300px; 
    white-space: normal;
    word-wrap: break-word; 
    text-align: right; 
}

/* Estilos para dispositivos móviles */

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    border: none;
    outline: none;
    padding: 5px;
    border-radius: 50%;
}

.close-btn:hover {
    background: rgba(0, 0, 0, 0.7);
}

.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #07339F;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 10005;
}

.spinner {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #07339F; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loading-text {
    margin-top: 20px;
    font-size: 1.5em;
    color: #ffffff;
    font-family: 'Arial', sans-serif;
    animation: fadeIn 1.5s ease-in-out infinite;
}

@keyframes fadeIn {
    0%, 100% { opacity: 0; }
    50% { opacity: 1; }
}
